html, body 
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: azure;
}

.bg-navbar
{
    background-color: aqua;
    
}

.btn-primary
{
    background-color: aqua !important;
}